.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

main > section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}
