.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

main > section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100vh;
}
