.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
  transition: background-color 0.6s ease;
}

main > section {
  min-height: 100vh;
  position: relative;
}
